*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 59px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow: hidden;
}
.navbar {
    border-radius: 0;
    min-height: 50px;
    border-bottom: 0;
}

.navbar-inverse .navbar-brand{
    color: rgba(255, 255, 255, .7);
    line-height: 30px;
    font-size: 30px;
}
.navbar-inverse .navbar-brand:hover{
    color: #FFF;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{
    color: #FFF;
    background-color: rgba(11, 165, 241, 0.81);

}
.navbar-inverse .navbar-nav > li > a{
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: rgba(11, 165, 241, 0.81);
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #222;
}
.dropdown-menu > li > a{
    background-color: #222;
    color: #FFF;
    padding: 8px 12px 8px;
    transition: padding 0.3s ease-in-out;
}
.dropdown-menu > li > a:hover{
    background-color: rgba(11, 165, 241, 0.81);
    color: #FFF;
    padding-left: 18px;
}

.dropdown-menu{
    background-color: #222;
    border-bottom: rgba(11, 165, 241, 0.81) solid 3px;
    min-width: 200px;
    left: 0;
    right: auto;
    padding-top: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}
/*.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}*/
.navbar-right .dropdown-menu{
    right: auto;
    left: 0;
}

.item img{
    width: 100%;
}
.slider .carousel-indicators li{
    border-radius: 50%;
}
.bread{
    background-color: transparent;
    text-align: left;
}
.breadcrumb{
    padding: 0;
    margin-bottom: 20px;
    background-color: transparent;
}
.breadcrumb ol{
    margin-bottom: 0;
    background-color:transparent;
    padding-bottom: 0;
    padding-top: 0;
}
.breadcrumb li a{
    color: #FFF;
}
.breadcrumb>.active  {
    color: rgba(255, 255, 255, 0.6);
}
.about-us{
    padding-top: 10px;
}
.bein .bread{
    padding-top: 10px;
}
.about-us .breadcrumb,
.gallery .breadcrumb,
.bein .breadcrumb{
    padding-top: 10px;
}
.about-us .bread .breadcrumb ol,
.gallery .bread .breadcrumb ol,
.bein .bread .breadcrumb ol{
    margin-bottom: 0;
    background-color:transparent;
    padding: 0;
}
.about-us .breadcrumb li a,
.gallery .breadcrumb li a{
    color: #0072A8;
}
.bein .breadcrumb li a{
    color: #FFF;
}
.about-us .breadcrumb > .active,
.gallery .breadcrumb > .active{
    color: #333;
}
.bein .breadcrumb > .active{
    color: rgba(255, 255, 255, .7);
}
.contact-us .breadcrumb li a{
    color: #0072A8;
}
.contact-us .breadcrumb > .active  {
    color: #222;
}

.about-us .ieee-global,
.about-us .ieee-reg,
.about-us .ieee-eg,
.about-us .ieee-aswan{
    margin-bottom: 40px;
    padding-top: 30px;
}
.about-us .ieee-global .img-holder,
.about-us .ieee-reg .img-holder,
.about-us .ieee-eg .img-holder,
.about-us .ieee-aswan .img-holder{
    width: 60%;
    margin: 5px auto;
}
.about-us .ieee-global p,
.about-us .ieee-reg p,
.about-us .ieee-eg p,
.about-us .ieee-aswan p{
    font-size: 16px !important;
    padding: 20px;
}

.about-us .ieee-reg .img-holder img,
.about-us .ieee-global .img-holder img,
.about-us .ieee-eg .img-holder img{
    width: 50%;
    margin: 0 auto;
}
.about-us .ieee-aswan .img-holder img{
    width: 40%;
    margin: 0 auto;
}
.faq-questions .panel-heading a{
    text-decoration: none;
}
.faq-questions .panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #444;
}

.about{
    background: url("../images/DSC_0230.JPG");
    background-size: cover;
    background-position: center;
    min-height: 650px;
}

.about .opaci{
    background-color: rgba(26, 128, 182, 0.6);
    min-height: 650px;
    padding: 50px 20px 50px;
}

.about .content{
    color: #FFF;
}
.about .content .branch-logo{
    width: 250px;
    height: 250px;
    margin: 10px 0 10px;
    animation: floating 4s ease infinite;
    will-change: transform;

}
/**************************************/
.bein{
    background: url("../images/hall.jpg") center no-repeat;
    background-size: cover;
    background-position: center;
}
.bein .opaci{
    background-color: rgba(26, 128, 182, 0.6);
    padding: 40px 0 30px;
}
.bein .content{
    color: #FFF;
}
.bein h1{
    font-family: 'Pangolin', cursive;
    font-size: 45px;
    margin: 30px auto 20px;
}
.bein .description{
    font-size: 16px;
    width: 90%;
    margin: 10px auto 30px;
}
.bein .feat{
    background: rgba(255, 255, 255, .5);
    border-top-left-radius: 60px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 60px;
    margin-bottom: 20px;
    transition: all .15s ease;
    padding: 20px;
    color: rgb(28, 44, 59);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bein .feat:hover{
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
    background: #FFF;
}
.bein .feat .fas{
    font-size: 45px;
    padding: 10px 10px 0;
}
.bein .feat h3{
    font-size: 24px;
    font-weight: 700;
    
}
.bein .feat .lead{
    font-size: 16px;
    line-height: 1.7em;
}
.uea{
    background: url("../images/uea-bg.jpg") center no-repeat;
    background-size: cover;
    background-position: center;
}
.uea .opaci{
    background-color: rgba(26, 128, 182, 0.8);
    padding: 40px 0 30px;
}
.uea .content{
    color: #FFF;
}
.uea h1{
    font-family: 'Pangolin', cursive;
    font-size: 45px;
    margin: 30px auto 20px;
}
.uea .description{
    font-size: 16px;
    width: 90%;
    margin: 10px auto 30px;
}
.uea .feat{
    background: rgba(255, 255, 255, .5);
    border-top-left-radius: 60px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 60px;
    margin-bottom: 20px;
    transition: all .15s ease;
    padding: 20px;
    color: rgb(28, 44, 59);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.uea .feat:hover{
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
    background: #FFF;
}
.uea .feat .fas{
    font-size: 45px;
    padding: 10px 10px 0;
}
.uea .feat h3{
    font-size: 24px;
    font-weight: 700;
    
}
.uea .feat .lead{
    font-size: 16px;
    line-height: 1.7em;
}
.history{
    padding: 0 30px;
}
.history h1{
    font-family: 'Pangolin', cursive;
    margin: 30px auto;
    font-size: 30px;
}
.history .hist{
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid rgba(11, 165, 241, 0.81);
    border-top-left-radius: 60px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 60px;
}
.history .details{
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.history .details i{
    font-size: 30px;
    margin-bottom: 20px;
}
/***********************************************/
@keyframes floating{
    0%,100%{
        transform: scale(1.2);
    }
    50%{
        transform: translateY(10px);
    }
}
.about .content h3{
    padding: 20px 20px;
}
.about .content p{
    font-size: 18px;
    line-height: 2em;
}
/*---------------------*/
.Features{
    padding: 50px 20px 10px;
    background-color: #FFF
}
.Features .feat{
    border: 2px solid rgba(11, 165, 241, 0.81);
    border-top-left-radius: 60px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 60px;
    margin-bottom: 20px;
    transition: all .15s ease;
    padding: 20px;
}
.Features .feat:hover{
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}
.Features .feat .fas{
    font-size: 50px;
    padding: 10px 10px 0;
}


.Features .feat h3{
    font-size: 20px;
    
}
.Features .feat p{
    font-size: 16px;
    line-height: 1.5em;
}
/**********************************/
.testimonials {
    padding-top: 20px;
    padding-bottom: 50px;
}
.testimonials .border-box{
    border: rgba(11, 165, 241, 0.81) 3px solid;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.testimonials h1 {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.testimonials .lead {
    line-height: 2em;
    font-size: 16px;
    margin-bottom: 30px;
}

.testimonials span {
    font-size: 22px;
    font-weight: bold;
    color: #0072A8;
}

.testimonials .carousel-inner {
    min-height: 140px;
}

.testimonials .carousel-indicators {
    position: static;
    width: 100%;
    margin-left: auto;
}

.testimonials .carousel-indicators li {
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    border: 3px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    transition: all 0.5s ease;
}

.testimonials .carousel-indicators li.active {
    opacity: 1;
    width: 80px;
    height: 80px;
    background: none;
    border: 3px solid #0072A8;
}

.testimonials .carousel-indicators li img {
    max-width: 100%;
}
/*-----------------------------------------------*/
.partners{
    background: url("../images/shake.jpg");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    color: #FFF;
    
}
.partners .pre-part{
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    margin-bottom: 40px;
}
.partners .opaci{
    background-color: rgba(26, 128, 182, 0.6);
    min-height: 600px;
    padding: 50px 20px 50px;
}
.partners h1{
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 40px;
}
.partners .part{
    background-color: rgba(255, 255, 255, .5);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 240px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.partners .part:hover{
    background-color: rgba(255, 255, 255, .9)
}
.partners .part img{
    max-width: 210px;
    max-height: 120px;
    overflow: hidden;
    vertical-align: middle;
}
/*----------------------------------------*/
.contact-us{
    background: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    color: #FFF;
}
.contact-us .opaci{
    background-color: rgba(26, 128, 182, 0.6);
    min-height: 600px;
    padding: 30px 20px 50px;
}
.contact-us h1{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-us p{
    margin-bottom: 40px;
}
.contact-us textarea{
    height: 108px;
    resize: none;
}

.contact-us .opacit{
    background-color: rgba(255, 255, 255, .5);
    width: 200px;
    padding-left: 20px;
    padding-top: 2px;
    border-top-left-radius: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
}

/**********************************************************/
.gal-container{
    padding: 12px;
}

.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
    content:"\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: .9;
}

.modal-content {
    position: relative;
    border: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.modal-body{
    margin-top: 10vh;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -2px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:50px;
    }
}




/*----------------------------------------*/
footer{
    background-color: #222;
    color: #FFF !important;
    padding-top: 15px;
    padding-bottom: 30px;
}
footer h3{
    color: #0072A8;
    letter-spacing: 1px;
    margin: 20px 0 15px;
}


footer a:hover{
    color: #FFF;
    text-decoration: none;
}
footer .addres{
    padding: 20px 0;
}
footer .addres .fab{
    margin: 0 15px 10px 0;
}

footer .lead{
    font-size: 16px;
    line-height: 2em;
}

footer .addres .lead .fas{
    font-size: 18px;
    margin: 0 5px 0 0;
}
footer .addres .fas2{
    margin-right: 5px !important;
    margin-left: 2px !important;
}
.icon-slider{
    display: grid;
    height:100%;
    width:100%;
}
.wrapper .button{
    display: block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #FFF;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    color: black;
    border-radius: 50px;
    line-height: 60px;
    text-align: center;
    transition: all 0.3s ease-out;
}
.wrapper a .button:hover .icon i{
    color: #fff;
}
.wrapper a:nth-child(1):hover .button .icon{
    background: #4267B2;
}
.wrapper a:nth-child(2):hover .button .icon{
    background: #1DA1F2;
}
.wrapper a:nth-child(3):hover .button .icon{
    background: #007ab9;
}
.wrapper a:nth-child(4):hover .button .icon{
    background: #FF0000;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.wrapper a:nth-child(1) .button span{
    color: #4267B2;
}
.wrapper a:nth-child(2) .button span{
    color: #1DA1F2;
}
.wrapper a:nth-child(3) .button span{
    color: #007ab9;
}
.wrapper a:nth-child(4) .button span{
    color: #FF0000;
}
/*************************************************/
footer .social{
    width: 50px;
    margin: 5px 10px 30px 0;
}

footer iframe{
    margin: 0;
}

/***************************************/
.rights{
    background-color: #333;
    color: #FFF;
    padding: 10px 0 10px;
    font-size: 18px;
}
.rights a img{
    width: 30px;
    margin: 5px 10px 10px;
}

.rights p{
    margin: 10px 0 5px !important;
}
.rights p img{
    width: 18px;
}
.loading-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    left: 0;
    top: 0;
    color: #fff;
    background-color: #000;
}
.spinner {
    margin: 200px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #0072A8;
    width: 20px;
    height: 20px;
    position: absolute;
    top: auto;
    left: auto;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}
@keyframes sk-cubemove {
    25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    }
}

/*scroll up button*/

#scroll-top{
    width: 50px;
    height: 50px;
    padding: 5px;
    color: #FFF;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 9999;
    display: none;
}


/*---------------------------------*/
@media (min-width :767px) and (max-width :1007px){
    .navbar-inverse .navbar-brand{
        font-size: 30px;
        line-height: 26px;
        padding-left: 0;
        padding-right: 0;
    }
    .nav > li > a{
        padding: 10px 10px;
    }
    nav{
        padding: 0 10px;
    }
    .about .content p{
        font-size: 16px;
    }
    .partners h1{
        font-size: 42px;
    }
    footer{
        text-align: center;
    }
    .wrapper{
        margin: 10px auto;
    }
    footer .wrapper .button:hover{
        width: 60px;
    }
    .wrapper a .button .icon i{
        color: #fff;
    }
    .wrapper a:nth-child(1) .button .icon{
        background: #4267B2;
    }
    .wrapper a:nth-child(2) .button .icon{
        background: #1DA1F2;
    }
    .wrapper a:nth-child(3) .button .icon{
        background: #007ab9;
    }
    .wrapper a:nth-child(4) .button .icon{
        background: #FF0000;
    }
    
    .contact-us textarea{
        height: 140px;
        resize: none;
    }
    
}

@media (min-width:450px) and (max-width :767px){
    body{
        padding-top: 50px;
    }
    .navbar-inverse .navbar-brand{
        font-size: 20px;
        line-height: 20px;
        padding-bottom: auto;
    }
    .navbar-inverse .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    }
    nav .navbar-header .navbar-toggle{
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        margin-top: 16px !important;
    }
    nav .navbar-header .navbar-toggle span{
        width: 16px;
        height: 2px;
        border-radius: 0 !important;
        padding: 1px 0 1px;
    }
    .bein .feat{
        background: rgba(255, 255, 255, .5);
        border-top-left-radius: 60px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 60px;
        margin-bottom: 20px;
        transition: all .15s ease;
        padding: 20px;
        width: 380px;
        margin: 0 auto 20px;
        color: rgb(28, 44, 59);
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .slider {
        display: none;
    }
    .about .content p{
        font-size: 14px;
    }
    .about .content h3{
        font-size: 18px;
    }
    .testimonials .border-box{
        border: rgba(11, 165, 241, 0.81) 3px solid;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .partners .part{
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 200px;
        height: 120px;
        padding: 10px;
    }
    .partners .part img{
        max-width: 160px;
        max-height: 90px;
        overflow: hidden;
        vertical-align: middle;
    }
    footer{
        text-align: center;
    }
    .wrapper{
        margin: 10px auto;
    }
    footer .wrapper .button:hover{
        width: 60px;
    }
    .wrapper a .button .icon i{
        color: #fff;
    }
    .wrapper a:nth-child(1) .button .icon{
        background: #4267B2;
    }
    .wrapper a:nth-child(2) .button .icon{
        background: #1DA1F2;
    }
    .wrapper a:nth-child(3) .button .icon{
        background: #007ab9;
    }
    .wrapper a:nth-child(4) .button .icon{
        background: #FF0000;
    }
    
    iframe{
        width: 100%;
    }
    #scroll-top{
        width: 40px;
        height: 40px;
        padding: 5px;
        right: 10px;
        bottom: 10px;
        line-height: 30px;
    }
    #scroll-top i{
        font-size: 30px;
    }
}
@media (max-width: 449px){
    .partners .part{
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 150px;
        height: 100px;
    }
    .partners .part img{
        max-width: 140px;
        max-height: 90px;
        overflow: hidden;
        vertical-align: middle;
    }
    .about .content p{
        font-size: 14px;
    }
    .about .content h3{
        font-size: 18px;
    }
    iframe{
        margin: 5px auto;
        width: 85%;
    }
    body{
        padding-top: 50px;
    }
    .navbar-inverse .navbar-brand{
        font-size: 20px;
        line-height: 20px;
        padding-bottom: auto;
    }
    .navbar-inverse .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    }
    nav .navbar-header .navbar-toggle{
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        margin-top: 16px !important;
    }
    nav .navbar-header .navbar-toggle span{
        width: 16px;
        height: 2px;
        border-radius: 0 !important;
        padding: 1px 0 1px;
    }
    .slider {
        display: none;
    }
    .about .content p{
        font-size: 14px;
    }
    .about .content h3{
        font-size: 18px;
    }
    .testimonials .border-box{
        border: rgba(11, 165, 241, 0.81) 3px solid;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    footer{
        text-align: center;
    }
    .wrapper{
        margin: 10px auto;
    }
    footer .wrapper .button:hover{
        width: 60px;
    }
    .wrapper a .button .icon i{
        color: #fff;
    }
    .wrapper a:nth-child(1) .button .icon{
        background: #4267B2;
    }
    .wrapper a:nth-child(2) .button .icon{
        background: #1DA1F2;
    }
    .wrapper a:nth-child(3) .button .icon{
        background: #007ab9;
    }
    .wrapper a:nth-child(4) .button .icon{
        background: #FF0000;
    }
    #scroll-top{
        width: 40px;
        height: 40px;
        padding: 5px;
        right: 10px;
        bottom: 10px;
        line-height: 30px;
    }
    #scroll-top i{
        font-size: 30px;
    }

}